In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [3]:
switzerland <- read_csv("heart_disease_data/processed.switzerland.data",
                        col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg",
                                      "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))
                #mutate(fbs = if_na(fbs, "?")) #|>
                #mutate(sex_chr = ifelse(sex == 1, "male", "female")) #|>
                #mutate(sex_chr = ifelse(sex == 1, "male", "female"))



#  16 fbs: (fasting blood sugar > 120 mg/dl)  (1 = true; 0 = false)

hungarian <- read_csv("heart_disease_data/processed.hungarian.data",
                       col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg",
                                      "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))

cleveland <- read_csv("heart_disease_data/processed.cleveland.data",
                      col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg",
                                      "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))
va

head(switzerland)
head(hungarian)
head(cleveland)
head(va)

Rows: 123 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): trestbps, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal
dbl (5): age, sex, cp, chol, num

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 294 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): trestbps, chol, fbs, restecg, thalach, exang, slope, ca, thal
dbl (5): age, sex, cp, oldpeak, num

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1 32  1   1  95       0    ?   0       127     0     .7      1     ?  ?    1
2 34  1   4  115      0    ?   ?       154     0     .2      1     ?  ?    1
3 35  1   4  ?        0    ?   0       130     1     ?       ?     ?  7    3
4 36  1   4  110      0    ?   0       125     1     1       2     ?  6    1
5 38  0   4  105      0    ?   0       166     0     2.8     1     ?  ?    2
6 38  0   4  110      0    0   0       156     0     0       2     ?  3    1

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1 28  1   2  130      132  0   2       185     0     0       ?     ?  ?    0
2 29  1   2  120      243  0   0       160     0     0       ?     ?  ?    0
3 29  1   2  140      ?    0   0       170     0     0       ?     ?  ?    0
4 30  0   1  170      237  0   1       170     0     0       ?     ?  6    0
5 31  0   2  100      219  0   1       150     0     0       ?     ?  ?    0
6 32  0   2  105      198  0   0       165     0     0       ?     ?  ?    0

      3 age: age in years
      4 sex: sex (1 = male; 0 = female)
      9 cp: chest pain type
        -- Value 1: typical angina
        -- Value 2: atypical angina
        -- Value 3: non-anginal pain
        -- Value 4: asymptomatic
     10 trestbps: resting blood pressure (in mm Hg on admission to the 
        hospital)
     12 chol: serum cholestoral in mg/dl
     16 fbs: (fasting blood sugar > 120 mg/dl)  (1 = true; 0 = false)
     19 restecg: resting electrocardiographic results
        -- Value 0: normal
        -- Value 1: having ST-T wave abnormality (T wave inversions and/or ST 
                    elevation or depression of > 0.05 mV)
        -- Value 2: showing probable or definite left ventricular hypertrophy
                    by Estes' criteria
     32 thalach: maximum heart rate achieved
     38 exang: exercise induced angina (1 = yes; 0 = no)
     40 oldpeak = ST depression induced by exercise relative to rest
     41 slope: the slope of the peak exercise ST segment
        -- Value 1: upsloping
        -- Value 2: flat
        -- Value 3: downsloping
     44 ca: number of major vessels (0-3) colored by flourosopy
     51 thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
     58 num: diagnosis of heart disease (angiographic disease status)
        -- Value 0: < 50% diameter narrowing
        -- Value 1: > 50% diameter narrowing
        (in any major vessel: attributes 59 through 68 are vessels)

9. Missing Attribute Values: Several.  Distinguished with value -9.0.

In [ ]:
#switzerland$sex_changed <- ifelse(switzerland$sex == 1, "male", "female")
#switzerland